<% include header-for-all %>
<style type="text/css" media="screen">
body {
    background: #9830b2;
}

div.container {
    width: 50vw;
    height: 100vh;
    padding-top: 20vh;
    color: white;
}
</style>

<body>
    <div class="container">
        <form method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">MSSV:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="txtId" value="<%=sv.id%>" disabled> 
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Họ và tên sinh viên:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="txtTen" value="<%=sv.ten%>" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Lớp:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="txtLop" value="<%=sv.lop%>" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Khóa:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="txtKhoa" value="<%=sv.khoa%>" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Năm sinh:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="txtNamsinh" value="<%=sv.namsinh%>" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Số điện thoại:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="txtSdt" placeholder="<%=sv.sdt%>">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Email:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="txtMail" placeholder="<%=sv.mail%>">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <h5 id="message" class="alert-warning">Chú ý: Sinh viên phải chịu trách nhiệm với những thông tin kê khai ở đây</h5>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" name="btnChange" value="Đổi thông tin" class="btn btn-success">
                </div>
            </div>
        </form>
    </div>
</body>