<% include header-for-all %>
<body>
    <div class="container table-responsive">
        Đồ án 1:
        <table  class='table table-bordered table-striped'>
            <tbody>
                    <tr>
                        <th>Tên đề tài</th>
                        <th>Tác giả</th>
                        <th>Điểm</th>
                        <th>Xem chi tiết</th>
                    </tr>
                    <% for (var i = 0; i < 8; i++) { %>
                        <tr id="tdda1<%=i%>">
                                <td id="da1ten<%=i%>"> </td>
                                <td id="da1tacgia<%=i%>"></td>
                                <td id="da1diem<%=i%>"></td>
                                <td id="da1taive<%=i%>"><a title="Xem"><button class="btn btn-info">Xem</button></a></td>
                        </tr>
                    <%}%>
            </tbody>
        </table>
    </div>
    <div class="container table-responsive">
        Đồ án 2:
        <table  class='table table-bordered table-striped'>
            <tbody>
                    <tr>
                        <th>Tên đề tài</th>
                        <th>Tác giả</th>
                        <th>Điểm</th>
                        <th>Xem chi tiết</th>
                    </tr>
                    <% for (var i = 0; i < 8; i++) { %>
                        <tr id="tdda2<%=i%>">
                                <td id="da2ten<%=i%>"> </td>
                                <td id="da2tacgia<%=i%>"></td>
                                <td id="da2diem<%=i%>"></td>
                                <td id="da2taive<%=i%>"><a title="Xem"><button class="btn btn-info">Xem</button></a></td>
                        </tr>
                    <%}%>
            </tbody>
        </table>
    </div>
    <div class="container table-responsive">
        Đồ án 3:
        <table  class='table table-bordered table-striped'>
            <tbody>
                    <tr>
                        <th>Tên đề tài</th>
                        <th>Tác giả</th>
                        <th>Điểm</th>
                        <th>Xem chi tiết</th>
                    </tr>
                    <% for (var i = 0; i < 8; i++) { %>
                        <tr id="tdda3<%=i%>">
                                <td id="da3ten<%=i%>"> </td>
                                <td id="da3tacgia<%=i%>"></td>
                                <td id="da3diem<%=i%>"></td>
                                <td id="da3taive<%=i%>"><a title="Xem"><button class="btn btn-info">Xem</button></a></td>
                        </tr>
                    <%}%>
            </tbody>
        </table>
    </div>
    <div class="container table-responsive">
        Đồ án tốt nghiệp:
        <table  class='table table-bordered table-striped'>
            <tbody>
                    <tr>
                        <th>Tên đề tài</th>
                        <th>Tác giả</th>
                        <th>Điểm</th>
                        <th>Xem chi tiết</th>
                    </tr>
                    <% for (var i = 0; i < 8; i++) { %>
                        <tr id="tddatn<%=i%>">
                                <td id="datnten<%=i%>"> </td>
                                <td id="datntacgia<%=i%>"></td>
                                <td id="datndiem<%=i%>"></td>
                                <td id="datntaive<%=i%>"><a title="Xem"><button class="btn btn-info">Xem</button></a></td>
                        </tr>
                    <%}%>
            </tbody>
        </table>
    </div>
    <script src="./js/project-template.js" type="text/javascript" charset="utf-8" async defer></script>
</body>