<div class="container">
    <div class="row">
        <div class="col-md-8" id="div_content">
            <% for(var i=l-1;i>=l-8;i--){ %>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title"><%= thongbao.rows[i].tieude %></h4>
                    </div>
                    <div class="panel-body">
                        <%= thongbao.rows[i].tomtatnoidung %>
                    </div>
                    <div class="panel-footer">
                        <span class="glyphicon glyphicon-eye-open"></span>:
                        <%= thongbao.rows[i].luotxem %>
                        <br/>
                        <span class="glyphicon glyphicon-time"></span> :
                        <%= thongbao.rows[i].ngaygioupload %>
                        <br/>
                        <span class="glyphicon glyphicon-tag"></span> :
                        <span>tag1, tag2</span>
                    </div>
                </div>
                <% }; %>
        </div>
        <div class="col-md-4" id="div_info">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">Bài viết nổi bật</h4>
                </div>
                <div class="panel-body">
                    <ol>
                        <li>
                            <%= thongbao.rows[i1].tieude %>
                        </li>
                        <li>
                            <%= thongbao.rows[i2].tieude %>
                        </li>
                        <li>
                            <%= thongbao.rows[i3].tieude %>
                        </li>
                        <li>
                            <%= thongbao.rows[i4].tieude %>
                        </li>
                        <li>
                            <%= thongbao.rows[i5].tieude %>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Đồ án nổi bật</h4>
                </div>
                <div class="panel-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="do_an_noi_bat" id="doannoibat1">
                                    Do an 1
                                </div>
                                <div class="do_an_noi_bat" id="doannoibat2">
                                    Do an 2
                                </div>
                                <div class="do_an_noi_bat" id="doannoibat2">
                                    Do an 2
                                </div>
                                <div class="do_an_noi_bat" id="doannoibat2">
                                    Do an 2
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="do_an_noi_bat" id="doannoibat1">
                                    Do an 1
                                </div>
                                <div class="do_an_noi_bat" id="doannoibat2">
                                    Do an 2
                                </div>
                                <div class="do_an_noi_bat" id="doannoibat2">
                                    Do an 2
                                </div>
                                <div class="do_an_noi_bat" id="doannoibat2">
                                    Do an 2
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>