<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">Bài viết nổi bật</h4>
    </div>
    <div class="panel-body">
        <ol>
            <li>
                <%= thongbao.rows[i1].tieude %>
            </li>
            <li>
                <%= thongbao.rows[i2].tieude %>
            </li>
            <li>
                <%= thongbao.rows[i3].tieude %>
            </li>
            <li>
                <%= thongbao.rows[i4].tieude %>
            </li>
            <li>
                <%= thongbao.rows[i5].tieude %>
            </li>
        </ol>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Đồ án nổi bật</h4>
    </div>
    <div class="panel-body" style="padding: 10px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>TOP</th>
                                <th>TÊN ĐỀ TÀI</th>
                                <th>RATING</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Defaultson</td>
                                <td>def@somemail.com</td>
                            </tr>
                            <tr class="success">
                                <td>2</td>
                                <td>Doe</td>
                                <td>john@example.com</td>
                            </tr>
                            <tr class="danger">
                                <td>3</td>
                                <td>Moe</td>
                                <td>mary@example.com</td>
                            </tr>
                            <tr class="info">
                                <td>4</td>
                                <td>Dooley</td>
                                <td>july@example.com</td>
                            </tr>
                            <tr class="warning">
                                <td>5</td>
                                <td>Refs</td>
                                <td>bo@example.com</td>
                            </tr>
                            <tr class="active">
                                <td>6</td>
                                <td>Activeson</td>
                                <td>act@example.com</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="googleCalendar">
    <iframe src="https://calendar.google.com/calendar/embed?title=SOICT%20CALENDAR&amp;showCalendars=0&amp;height=100&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=8d3fc8l9g04n7r9im45fsn08ak%40group.calendar.google.com&amp;color=%238D6F47&amp;ctz=Asia/Saigon" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
<h5 id="timeNow" class="alert-warning text-right"></h5>