<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">Bài viết nổi bật</h4>
    </div>
    <div class="panel-body">
        <ol>
            <li>
                <%= thongbao.rows[i1].tieude %>
            </li>
            <li>
                <%= thongbao.rows[i2].tieude %>
            </li>
            <li>
                <%= thongbao.rows[i3].tieude %>
            </li>
            <li>
                <%= thongbao.rows[i4].tieude %>
            </li>
            <li>
                <%= thongbao.rows[i5].tieude %>
            </li>
        </ol>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Đồ án nổi bật</h4>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="do_an_noi_bat" id="doannoibat1">
                        Do an 1
                    </div>
                    <div class="do_an_noi_bat" id="doannoibat2">
                        Do an 2
                    </div>
                    <div class="do_an_noi_bat" id="doannoibat2">
                        Do an 2
                    </div>
                    <div class="do_an_noi_bat" id="doannoibat2">
                        Do an 2
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="do_an_noi_bat" id="doannoibat1">
                        Do an 1
                    </div>
                    <div class="do_an_noi_bat" id="doannoibat2">
                        Do an 2
                    </div>
                    <div class="do_an_noi_bat" id="doannoibat2">
                        Do an 2
                    </div>
                    <div class="do_an_noi_bat" id="doannoibat2">
                        Do an 2
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>